@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap");

h1,
h2 {
  font-family: "Yantramanav", sans-serif;
}

/* nav bar pic size*/

.affinsize {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

/* nav bar styling */

.navbartitle {
  font-family: "Yantramanav", sans-serif;
  font-size: 28px;
  font-weight: 500;
}

nav,
li {
  font-family: "Yantramanav", sans-serif;
  font-size: 24px;
}

/* articles styling*/

body {
  padding-top: 55px;
}

.heroimage {
  height: 90vh;
  background: url("./images/chrissyraulwide.jpg") no-repeat center/ cover;
  background-position: botton;
  text-align: center;
}

/* about styling*/

.clydeblurb,
h2 + p {
  margin: 2.5%;
  padding: 2.5%;
  border: black solid 1px;
}

.certsize {
  width: 30%;
  margin: 2.5%;

  height: 60vh;
  border: black solid 1px;
}

.certsize h2 {
  text-align: center;
}

/* services styling*/

.services {
  height: 90vh;
  background-color: green;
}
/* Reviews styling */
/*
.reviews {
  background-color: #efedd6;
  
}

.reviews {
  background-color: #efedd6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
*/

.box {
  background-color: steelblue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translatex(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translate(-400%);
}

.box.show {
  transform: translatex(0);
}

/* footer styling */
*/ .social-networks {
  text-align: center;
}

.social-networks,
li {
  display: inline;
}

.social-networks,
i {
  font-size: 32px;
  margin-left: 15px;
  margin-right: 15px;
  color: #696666;
}

/* copyright line */
.ptext {
  color: #696666;
  text-align: center;
  font-family: "karla", "sans-serif";
  font-size: 16px;
  padding: 1px;
}

.makerlink {
  color: black;
  text-align: center;
  font-family: "karla", "sans-serif";
  font-size: 16px;
}

.phonecopyright {
  margin-top: -15px;
}

@media (max-width: 500px) {
  .heroimage {
    height: 80vh;
    background: url("./images/chrissyraul.jpg") no-repeat center center/cover;
    background-position: bottom;
  }

  .affinsize {
    width: 25px;
    height: 25px;
    margin-left: 3px;
    margin-right: 5px;
  }

  .navbartitle {
    font-family: "Yantramanav", sans-serif;
    font-size: 20px;
  }

  .social-networks i {
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0%;
    color: #696666;
  }

  .phonesocialmedia {
    margin: -15px;
  }

  .phonecopyright {
    margin: -15px;
  }

  /*about styling */
  .certsize {
    width: 95%;
    margin: 2.5%;
    height: 60vh;
    border: black solid 1px;
  }
}
