@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

p{
    font-family: 'Yantramanav', sans-serif;
}

.bluebox{
    background-color: blue;
    height: 100px;
    width: 100px;
}
